h2 Материалы за 2022 г:
ul
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2022-01-22-zhili-v-lesu-molilis-kolesu.md")
            span Жили в лесу, молились колесу
            |&nbsp;
            span [22 января 2022 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2022-01-15-nemtsy-i-nemezida.md")
            span Немцы и Немезида
            |&nbsp;
            span [15 января 2022 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2022-01-14-ser-dik-uittington-sergej-esenin-vikingi-i-kotiki.md")
            span Сэр Дик Уиттингтон, Сергей Есенин, викинги и котики
            |&nbsp;
            span [14 января 2022 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2022-01-13-lukan-i-lukavstvo.md")
            span Лукан и лукавство
            |&nbsp;
            span [13 января 2022 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-12-12-otyskalsja-sled-kopetrjasov.md")
            span Отыскался след копьетрясов!
            |&nbsp;
            span [12 декабря 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-12-11-abyrvalg-noverlendskij.md")
            span Абырвалг Новерлендский
            |&nbsp;
            span [11 декабря 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-12-08-zhelezobetonnaja-korona-langobardov.md")
            span Железобетонная корона лангобардов
            |&nbsp;
            span [08 декабря 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-12-06-slavjane-svoi-i-chuzhie.md")
            span Славяне “свои” и “чужие”
            |&nbsp;
            span [06 декабря 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-12-05-izjasnenie-nazvanij-nemetskih-gorodov-kotorye-prezhde-byli-slavjanskimi.md")
            span Изяснение названий немецких городов, которые прежде были славянскими
            |&nbsp;
            span [05 декабря 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-11-25-mezhdu-pervoj-i-vtoroj-pereryvchik-nebolshoj.md")
            span Между первой и второй перерывчик небольшой
            |&nbsp;
            span [25 ноября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-11-22-italija-ne-rezinovaja.md")
            span Италия не резиновая
            |&nbsp;
            span [22 ноября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-11-12-gotskij-dvor-na-ostrove-bujane.md")
            span Готский двор на острове Буяне
            |&nbsp;
            span [12 ноября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-11-03-rossija-rodina-slonov.md")
            span Россия — родина слонов
            |&nbsp;
            span [03 ноября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-10-16-aleksandr-makedonskij-robinzon-kruzo-i-nepravilnye-pchely.md")
            span Александр Македонский, Робинзон Крузо и “неправильные пчелы”
            |&nbsp;
            span [16 октября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-18-what-the-schit.md")
            span What the щит?
            |&nbsp;
            span [18 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-14-oh-uzh-eti-skazochki-oh-uzh-eti-skazochniki.md")
            span Ох уж эти сказочки, ох уж эти сказочники!
            |&nbsp;
            span [14 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-12-my-stroili-stroili-a-zachem.md")
            span Мы строили, строили… А зачем?
            |&nbsp;
            span [12 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-12-hronologicheskie-inektsii.md")
            span Хронологические инъекции
            |&nbsp;
            span [12 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-11-zaboristye-zabrala.md")
            span Забористые забрала
            |&nbsp;
            span [11 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-11-delo-pahnet-kirasirom.md")
            span Дело пахнет кирасиром
            |&nbsp;
            span [11 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-10-u-imperatora-nerona-v-gostinoj-zhili-dva-barona.md")
            span У императора Нерона в гостиной жили два барона
            |&nbsp;
            span [10 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-10-pifagorovy-shtany-s-nachesom.md")
            span Пифагоровы штаны с начёсом
            |&nbsp;
            span [10 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-06-chudesa-chudesa-nebyvalschina.md")
            span Чудеса, чудеса, небывальщина
            |&nbsp;
            span [06 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-03-karl-marks-i-podkustovyj-vypolzen-chast-1.md")
            span Карл Маркс и подкустовый выползень. Часть 1
            |&nbsp;
            span [03 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-02-moneta-moneta.md")
            span Монета Moneta
            |&nbsp;
            span [02 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-02-lihoradka-antichnogo-vechera.md")
            span Лихорадка античного вечера
            |&nbsp;
            span [02 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-01-odnim-mahom-semeryh-protykahom.md")
            span Одним махом семерых протыкахом
            |&nbsp;
            span [01 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-31-manipulirovanie-manipulami-i-manufakturami.md")
            span Манипулирование манипулами и мануфактурами
            |&nbsp;
            span [31 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-30-zanimatelnoe-oslovedenie.md")
            span Занимательное ословедение
            |&nbsp;
            span [30 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-30-warum-die-mädchen-lieben-die-soldaten-darum-nicht-popularen-optimaten.md")
            span Warum die Mädchen lieben die Soldaten? Darum nicht Popularen! Optimaten!
            |&nbsp;
            span [30 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-13-zhoashen-dju-belle-poet-ruinist.md")
            span Жоашен дю Белле — поэт-руинист
            |&nbsp;
            span [13 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-13-uzbeki-v-moreplavanii.md")
            span Узбеки в мореплавании
            |&nbsp;
            span [13 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-13-suka-ljubov.md")
            span Сука любовь
            |&nbsp;
            span [13 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-07-istoricheskaja-shrapnel.md")
            span Историческая шрапнель
            |&nbsp;
            span [07 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-07-drevnegrecheskaja-smokovnitsa.md")
            span Древнегреческая смоковница
            |&nbsp;
            span [07 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-04-istochniki-zatochniki.md")
            span Источники-заточники
            |&nbsp;
            span [04 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-04-domen-ryzheborodyh-germanooptimaty-i-normannopopuljary.md")
            span Домен Рыжебородых: германооптиматы и норманнопопуляры
            |&nbsp;
            span [04 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-03-domen-ryzheborodyh-salo-jak-salo.md")
            span Домен Рыжебородых: сало як сало
            |&nbsp;
            span [03 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-03-domen-ryzheborodyh-papa-mozhet-papa-mozhet.md")
            span Домен Рыжебородых: папа может, папа может
            |&nbsp;
            span [03 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-02-domen-ryzheborodyh-tysjacha-melochej-kontejner-1.md")
            span Домен Рыжебородых: тысяча мелочей, контейнер №1
            |&nbsp;
            span [02 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-02-domen-ryzheborodyh-obschestvo-normano-germanskoj-druzhby.md")
            span Домен Рыжебородых: общество нормано-германской дружбы
            |&nbsp;
            span [02 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-30-domen-ryzheborodyh-tsezar-i-sprut.md")
            span Домен Рыжебородых: Цезарь и Спрут
            |&nbsp;
            span [30 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-30-domen-ryzheborodyh-mafija-bessmertna.md")
            span Домен Рыжебородых: мафия бессмертна
            |&nbsp;
            span [30 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-29-domen-ryzheborodyh-sitsilianskaja-zaschita.md")
            span Домен Рыжебородых: сицилианская защита
            |&nbsp;
            span [29 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-27-domen-ryzheborodyh-esli-papa-ne-razreshaet.md")
            span Домен Рыжебородых: если папа не разрешает
            |&nbsp;
            span [27 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-27-domen-ryzheborodyh-chto-takoe-druzja-rimskogo-naroda.md")
            span Домен Рыжебородых: что такое “друзья римского народа”
            |&nbsp;
            span [27 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-23-domen-ryzheborodyh-v-boj-vstupaet-formalnaja-logika.md")
            span Домен Рыжебородых: в бой вступает формальная логика
            |&nbsp;
            span [23 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-22-domen-ryzheborodyh-privet-iz-90-h.md")
            span Домен Рыжебородых: привет из 90-х
            |&nbsp;
            span [22 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-19-domen-ryzheborodyh-pamjatka-latifundistu.md")
            span Домен Рыжебородых: памятка латифундисту
            |&nbsp;
            span [19 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-19-domen-ryzheborodyh-dikie-divizii-rimskih-imperatorov.md")
            span Домен Рыжебородых: “дикие дивизии” римских императоров
            |&nbsp;
            span [19 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-19-domen-ryzheborodyh-alternativnaja-imperija-nanosit-udar.md")
            span Домен Рыжебородых: альтернативная империя наносит удар
            |&nbsp;
            span [19 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-18-iz-za-lesa-iz-za-gor-pokazal-muzhik-kope.md")
            span Из-за леса, из-за гор показал мужик копьё
            |&nbsp;
            span [18 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-18-domen-ryzheborodyh.md")
            span Домен Рыжебородых
            |&nbsp;
            span [18 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-11-volshebnik-nedouchka.md")
            span Волшебник недоучка
            |&nbsp;
            span [11 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-11-julij-tsezar-i-kantseljarskie-prinadlezhnosti.md")
            span Юлий Цезарь и канцелярские принадлежности
            |&nbsp;
            span [11 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-10-gorjat-shumjat-badaevskie-sklady.md")
            span Горят-шумят Бадаевские склады
            |&nbsp;
            span [10 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-05-prazdnik-neposlushanija.md")
            span Праздник непослушания
            |&nbsp;
            span [05 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-04-esli-topnu-ja-nogoju-pozovu-svoih-soldat.md")
            span Если топну я ногою, позову своих солдат…
            |&nbsp;
            span [04 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-03-naveki-s-russkim-narodom-ili-my-tut-u-vas-posidim-nemnogo-poka-ziher-ne-utihnet.md")
            span Навеки с русским народом, или Мы тут у вас посидим немного, пока зихер не
            |&nbsp;
            span [03 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-27-a-shapochka-izvinite-otkuda.md")
            span А шапочка, извините, откуда?
            |&nbsp;
            span [27 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-23-gaj-julij-kejnsar.md")
            span Гай Юлий Кейнсарь
            |&nbsp;
            span [23 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-21-kolossy-kolosja-i-barbariki.md")
            span Колоссы, колосья и Барбарики
            |&nbsp;
            span [21 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-20-o-razorenii-rjazani-istoricheskaja-ugadajka-vypusk-5.md")
            span О разорении Рязани (историческая угадайка, выпуск 5)
            |&nbsp;
            span [20 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-20-asteriks-obeliks-i-hronicheskij-anahroniks.md")
            span Астерикс, Обеликс и хронический анахроникс
            |&nbsp;
            span [20 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-19-kvadratno-gnezdovaja-hristianiztsija-istoricheskaja-ugadajka-vypusk-4.md")
            span Квадратно-гнездовая христианизция (историческая угадайка, выпуск 4)
            |&nbsp;
            span [19 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-15-sluchaj-na-beloozere-istoricheskaja-ugadajka-vypusk-3.md")
            span Случай на Белоозере (историческая угадайка, выпуск 3)
            |&nbsp;
            span [15 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-15-ryzhij-ryzhego-sprosil-chem-ty-borodu-krasil.md")
            span Рыжий рыжего спросил: чем ты бороду красил?
            |&nbsp;
            span [15 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-15-balkon-kak-moveton.md")
            span Балкон как моветон
            |&nbsp;
            span [15 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-14-m-t-kachenovskij-alternativschik-xix-veka.md")
            span М. Т. Каченовский: альтернативщик XIX века
            |&nbsp;
            span [14 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-14-istoricheskaja-ugadajka-vypusk-1.md")
            span Историческая угадайка. Выпуск 1
            |&nbsp;
            span [14 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-10-1492-god-kak-nachalo-novoj-ery.md")
            span 1492 год как начало новой эры
            |&nbsp;
            span [10 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-08-dvts-rabochih-i-krestjan.md")
            span ДВЦ рабочих и крестьян
            |&nbsp;
            span [08 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-03-zernovoj-triller-dlinoj-v-1000-let.md")
            span Зерновой триллер длиной в 1000 лет
            |&nbsp;
            span [03 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-05-26-grad-kitezh-kak-ekologicheskaja-katastrofa.md")
            span Град Китеж как экологическая катастрофа
            |&nbsp;
            span [26 мая 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-05-23-bitva-fridriha-barbarossy-s-polovtsami.md")
            span Битва Фридриха Барбароссы с половцами
            |&nbsp;
            span [23 мая 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-05-20-russkie-i-rytsari.md")
            span Русские и рыцари
            |&nbsp;
            span [20 мая 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-05-20-bitva-tarkvinija-s-rededej.md")
            span Битва Тарквиния с Редедей
            |&nbsp;
            span [20 мая 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-05-18-zagadochnyj-gorod-pordugodev.md")
            span Загадочный город Пордугодев
            |&nbsp;
            span [18 мая 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-04-20-na-ih-storone-kanaly.md")
            span На их стороне каналы
            |&nbsp;
            span [20 апреля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-04-16-ty-ih-v-okno-oni-v-kalitku.md")
            span Ты их в окно — они в калитку
            |&nbsp;
            span [16 апреля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-04-15-zachem-on-voobsche-nuzhen-etot-novgorod.md")
            span Зачем он вообще нужен, этот Новгород?
            |&nbsp;
            span [15 апреля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-04-09-velikij-novgorod-faktorija-ili-forpost.md")
            span Великий Новгород: фактория или форпост?
            |&nbsp;
            span [09 апреля 2021 г.]
h2 Материалы за 2021 г:
ul
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2022-01-22-zhili-v-lesu-molilis-kolesu.md")
            span Жили в лесу, молились колесу
            |&nbsp;
            span [22 января 2022 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2022-01-15-nemtsy-i-nemezida.md")
            span Немцы и Немезида
            |&nbsp;
            span [15 января 2022 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2022-01-14-ser-dik-uittington-sergej-esenin-vikingi-i-kotiki.md")
            span Сэр Дик Уиттингтон, Сергей Есенин, викинги и котики
            |&nbsp;
            span [14 января 2022 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2022-01-13-lukan-i-lukavstvo.md")
            span Лукан и лукавство
            |&nbsp;
            span [13 января 2022 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-12-12-otyskalsja-sled-kopetrjasov.md")
            span Отыскался след копьетрясов!
            |&nbsp;
            span [12 декабря 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-12-11-abyrvalg-noverlendskij.md")
            span Абырвалг Новерлендский
            |&nbsp;
            span [11 декабря 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-12-08-zhelezobetonnaja-korona-langobardov.md")
            span Железобетонная корона лангобардов
            |&nbsp;
            span [08 декабря 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-12-06-slavjane-svoi-i-chuzhie.md")
            span Славяне “свои” и “чужие”
            |&nbsp;
            span [06 декабря 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-12-05-izjasnenie-nazvanij-nemetskih-gorodov-kotorye-prezhde-byli-slavjanskimi.md")
            span Изяснение названий немецких городов, которые прежде были славянскими
            |&nbsp;
            span [05 декабря 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-11-25-mezhdu-pervoj-i-vtoroj-pereryvchik-nebolshoj.md")
            span Между первой и второй перерывчик небольшой
            |&nbsp;
            span [25 ноября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-11-22-italija-ne-rezinovaja.md")
            span Италия не резиновая
            |&nbsp;
            span [22 ноября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-11-12-gotskij-dvor-na-ostrove-bujane.md")
            span Готский двор на острове Буяне
            |&nbsp;
            span [12 ноября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-11-03-rossija-rodina-slonov.md")
            span Россия — родина слонов
            |&nbsp;
            span [03 ноября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-10-16-aleksandr-makedonskij-robinzon-kruzo-i-nepravilnye-pchely.md")
            span Александр Македонский, Робинзон Крузо и “неправильные пчелы”
            |&nbsp;
            span [16 октября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-18-what-the-schit.md")
            span What the щит?
            |&nbsp;
            span [18 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-14-oh-uzh-eti-skazochki-oh-uzh-eti-skazochniki.md")
            span Ох уж эти сказочки, ох уж эти сказочники!
            |&nbsp;
            span [14 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-12-my-stroili-stroili-a-zachem.md")
            span Мы строили, строили… А зачем?
            |&nbsp;
            span [12 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-12-hronologicheskie-inektsii.md")
            span Хронологические инъекции
            |&nbsp;
            span [12 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-11-zaboristye-zabrala.md")
            span Забористые забрала
            |&nbsp;
            span [11 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-11-delo-pahnet-kirasirom.md")
            span Дело пахнет кирасиром
            |&nbsp;
            span [11 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-10-u-imperatora-nerona-v-gostinoj-zhili-dva-barona.md")
            span У императора Нерона в гостиной жили два барона
            |&nbsp;
            span [10 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-10-pifagorovy-shtany-s-nachesom.md")
            span Пифагоровы штаны с начёсом
            |&nbsp;
            span [10 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-06-chudesa-chudesa-nebyvalschina.md")
            span Чудеса, чудеса, небывальщина
            |&nbsp;
            span [06 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-03-karl-marks-i-podkustovyj-vypolzen-chast-1.md")
            span Карл Маркс и подкустовый выползень. Часть 1
            |&nbsp;
            span [03 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-02-moneta-moneta.md")
            span Монета Moneta
            |&nbsp;
            span [02 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-02-lihoradka-antichnogo-vechera.md")
            span Лихорадка античного вечера
            |&nbsp;
            span [02 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-09-01-odnim-mahom-semeryh-protykahom.md")
            span Одним махом семерых протыкахом
            |&nbsp;
            span [01 сентября 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-31-manipulirovanie-manipulami-i-manufakturami.md")
            span Манипулирование манипулами и мануфактурами
            |&nbsp;
            span [31 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-30-zanimatelnoe-oslovedenie.md")
            span Занимательное ословедение
            |&nbsp;
            span [30 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-30-warum-die-mädchen-lieben-die-soldaten-darum-nicht-popularen-optimaten.md")
            span Warum die Mädchen lieben die Soldaten? Darum nicht Popularen! Optimaten!
            |&nbsp;
            span [30 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-13-zhoashen-dju-belle-poet-ruinist.md")
            span Жоашен дю Белле — поэт-руинист
            |&nbsp;
            span [13 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-13-uzbeki-v-moreplavanii.md")
            span Узбеки в мореплавании
            |&nbsp;
            span [13 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-13-suka-ljubov.md")
            span Сука любовь
            |&nbsp;
            span [13 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-07-istoricheskaja-shrapnel.md")
            span Историческая шрапнель
            |&nbsp;
            span [07 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-07-drevnegrecheskaja-smokovnitsa.md")
            span Древнегреческая смоковница
            |&nbsp;
            span [07 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-04-istochniki-zatochniki.md")
            span Источники-заточники
            |&nbsp;
            span [04 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-04-domen-ryzheborodyh-germanooptimaty-i-normannopopuljary.md")
            span Домен Рыжебородых: германооптиматы и норманнопопуляры
            |&nbsp;
            span [04 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-03-domen-ryzheborodyh-salo-jak-salo.md")
            span Домен Рыжебородых: сало як сало
            |&nbsp;
            span [03 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-03-domen-ryzheborodyh-papa-mozhet-papa-mozhet.md")
            span Домен Рыжебородых: папа может, папа может
            |&nbsp;
            span [03 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-02-domen-ryzheborodyh-tysjacha-melochej-kontejner-1.md")
            span Домен Рыжебородых: тысяча мелочей, контейнер №1
            |&nbsp;
            span [02 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-08-02-domen-ryzheborodyh-obschestvo-normano-germanskoj-druzhby.md")
            span Домен Рыжебородых: общество нормано-германской дружбы
            |&nbsp;
            span [02 августа 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-30-domen-ryzheborodyh-tsezar-i-sprut.md")
            span Домен Рыжебородых: Цезарь и Спрут
            |&nbsp;
            span [30 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-30-domen-ryzheborodyh-mafija-bessmertna.md")
            span Домен Рыжебородых: мафия бессмертна
            |&nbsp;
            span [30 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-29-domen-ryzheborodyh-sitsilianskaja-zaschita.md")
            span Домен Рыжебородых: сицилианская защита
            |&nbsp;
            span [29 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-27-domen-ryzheborodyh-esli-papa-ne-razreshaet.md")
            span Домен Рыжебородых: если папа не разрешает
            |&nbsp;
            span [27 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-27-domen-ryzheborodyh-chto-takoe-druzja-rimskogo-naroda.md")
            span Домен Рыжебородых: что такое “друзья римского народа”
            |&nbsp;
            span [27 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-23-domen-ryzheborodyh-v-boj-vstupaet-formalnaja-logika.md")
            span Домен Рыжебородых: в бой вступает формальная логика
            |&nbsp;
            span [23 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-22-domen-ryzheborodyh-privet-iz-90-h.md")
            span Домен Рыжебородых: привет из 90-х
            |&nbsp;
            span [22 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-19-domen-ryzheborodyh-pamjatka-latifundistu.md")
            span Домен Рыжебородых: памятка латифундисту
            |&nbsp;
            span [19 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-19-domen-ryzheborodyh-dikie-divizii-rimskih-imperatorov.md")
            span Домен Рыжебородых: “дикие дивизии” римских императоров
            |&nbsp;
            span [19 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-19-domen-ryzheborodyh-alternativnaja-imperija-nanosit-udar.md")
            span Домен Рыжебородых: альтернативная империя наносит удар
            |&nbsp;
            span [19 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-18-iz-za-lesa-iz-za-gor-pokazal-muzhik-kope.md")
            span Из-за леса, из-за гор показал мужик копьё
            |&nbsp;
            span [18 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-18-domen-ryzheborodyh.md")
            span Домен Рыжебородых
            |&nbsp;
            span [18 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-11-volshebnik-nedouchka.md")
            span Волшебник недоучка
            |&nbsp;
            span [11 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-11-julij-tsezar-i-kantseljarskie-prinadlezhnosti.md")
            span Юлий Цезарь и канцелярские принадлежности
            |&nbsp;
            span [11 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-10-gorjat-shumjat-badaevskie-sklady.md")
            span Горят-шумят Бадаевские склады
            |&nbsp;
            span [10 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-05-prazdnik-neposlushanija.md")
            span Праздник непослушания
            |&nbsp;
            span [05 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-04-esli-topnu-ja-nogoju-pozovu-svoih-soldat.md")
            span Если топну я ногою, позову своих солдат…
            |&nbsp;
            span [04 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-07-03-naveki-s-russkim-narodom-ili-my-tut-u-vas-posidim-nemnogo-poka-ziher-ne-utihnet.md")
            span Навеки с русским народом, или Мы тут у вас посидим немного, пока зихер не
            |&nbsp;
            span [03 июля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-27-a-shapochka-izvinite-otkuda.md")
            span А шапочка, извините, откуда?
            |&nbsp;
            span [27 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-23-gaj-julij-kejnsar.md")
            span Гай Юлий Кейнсарь
            |&nbsp;
            span [23 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-21-kolossy-kolosja-i-barbariki.md")
            span Колоссы, колосья и Барбарики
            |&nbsp;
            span [21 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-20-o-razorenii-rjazani-istoricheskaja-ugadajka-vypusk-5.md")
            span О разорении Рязани (историческая угадайка, выпуск 5)
            |&nbsp;
            span [20 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-20-asteriks-obeliks-i-hronicheskij-anahroniks.md")
            span Астерикс, Обеликс и хронический анахроникс
            |&nbsp;
            span [20 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-19-kvadratno-gnezdovaja-hristianiztsija-istoricheskaja-ugadajka-vypusk-4.md")
            span Квадратно-гнездовая христианизция (историческая угадайка, выпуск 4)
            |&nbsp;
            span [19 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-15-sluchaj-na-beloozere-istoricheskaja-ugadajka-vypusk-3.md")
            span Случай на Белоозере (историческая угадайка, выпуск 3)
            |&nbsp;
            span [15 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-15-ryzhij-ryzhego-sprosil-chem-ty-borodu-krasil.md")
            span Рыжий рыжего спросил: чем ты бороду красил?
            |&nbsp;
            span [15 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-15-balkon-kak-moveton.md")
            span Балкон как моветон
            |&nbsp;
            span [15 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-14-m-t-kachenovskij-alternativschik-xix-veka.md")
            span М. Т. Каченовский: альтернативщик XIX века
            |&nbsp;
            span [14 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-14-istoricheskaja-ugadajka-vypusk-1.md")
            span Историческая угадайка. Выпуск 1
            |&nbsp;
            span [14 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-10-1492-god-kak-nachalo-novoj-ery.md")
            span 1492 год как начало новой эры
            |&nbsp;
            span [10 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-08-dvts-rabochih-i-krestjan.md")
            span ДВЦ рабочих и крестьян
            |&nbsp;
            span [08 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-06-03-zernovoj-triller-dlinoj-v-1000-let.md")
            span Зерновой триллер длиной в 1000 лет
            |&nbsp;
            span [03 июня 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-05-26-grad-kitezh-kak-ekologicheskaja-katastrofa.md")
            span Град Китеж как экологическая катастрофа
            |&nbsp;
            span [26 мая 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-05-23-bitva-fridriha-barbarossy-s-polovtsami.md")
            span Битва Фридриха Барбароссы с половцами
            |&nbsp;
            span [23 мая 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-05-20-russkie-i-rytsari.md")
            span Русские и рыцари
            |&nbsp;
            span [20 мая 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-05-20-bitva-tarkvinija-s-rededej.md")
            span Битва Тарквиния с Редедей
            |&nbsp;
            span [20 мая 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-05-18-zagadochnyj-gorod-pordugodev.md")
            span Загадочный город Пордугодев
            |&nbsp;
            span [18 мая 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-04-20-na-ih-storone-kanaly.md")
            span На их стороне каналы
            |&nbsp;
            span [20 апреля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-04-16-ty-ih-v-okno-oni-v-kalitku.md")
            span Ты их в окно — они в калитку
            |&nbsp;
            span [16 апреля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-04-15-zachem-on-voobsche-nuzhen-etot-novgorod.md")
            span Зачем он вообще нужен, этот Новгород?
            |&nbsp;
            span [15 апреля 2021 г.]
    li
        a(href="https://github.com/yababay/humanitarian-blog/blob/main/docs/content/2021-04-09-velikij-novgorod-faktorija-ili-forpost.md")
            span Великий Новгород: фактория или форпост?
            |&nbsp;
            span [09 апреля 2021 г.]
