h5.offcanvas-title Материалы за 2022 г:
    ul.nav.nav-pills.flex-column.mb-auto
        li
            a.nav-link.link-secondary(href="#2022-01-22-zhili-v-lesu-molilis-kolesu.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Жили в лесу, молились колесу.
                <br>
                time 22 января 2022 г.
        li
            a.nav-link.link-secondary(href="#2022-01-15-nemtsy-i-nemezida.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Немцы и Немезида.
                <br>
                time 15 января 2022 г.
        li
            a.nav-link.link-secondary(href="#2022-01-14-ser-dik-uittington-sergej-esenin-vikingi-i-kotiki.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Сэр Дик Уиттингтон, Сергей Есенин, викинги и котики.
                <br>
                time 14 января 2022 г.
        li
            a.nav-link.link-secondary(href="#2022-01-13-lukan-i-lukavstvo.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Лукан и лукавство.
                <br>
                time 13 января 2022 г.
        li
            a.nav-link.link-secondary(href="#2021-12-12-otyskalsja-sled-kopetrjasov.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Отыскался след копьетрясов!.
                <br>
                time 12 декабря 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-12-11-abyrvalg-noverlendskij.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Абырвалг Новерлендский.
                <br>
                time 11 декабря 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-12-08-zhelezobetonnaja-korona-langobardov.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Железобетонная корона лангобардов.
                <br>
                time 08 декабря 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-12-06-slavjane-svoi-i-chuzhie.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Славяне “свои” и “чужие”.
                <br>
                time 06 декабря 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-12-05-izjasnenie-nazvanij-nemetskih-gorodov-kotorye-prezhde-byli-slavjanskimi.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Изяснение названий немецких городов, которые прежде были славянскими.
                <br>
                time 05 декабря 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-11-25-mezhdu-pervoj-i-vtoroj-pereryvchik-nebolshoj.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Между первой и второй перерывчик небольшой.
                <br>
                time 25 ноября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-11-22-italija-ne-rezinovaja.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Италия не резиновая.
                <br>
                time 22 ноября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-11-12-gotskij-dvor-na-ostrove-bujane.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Готский двор на острове Буяне.
                <br>
                time 12 ноября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-11-03-rossija-rodina-slonov.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Россия — родина слонов.
                <br>
                time 03 ноября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-10-16-aleksandr-makedonskij-robinzon-kruzo-i-nepravilnye-pchely.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Александр Македонский, Робинзон Крузо и “неправильные пчелы”.
                <br>
                time 16 октября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-18-what-the-schit.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span What the щит?.
                <br>
                time 18 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-14-oh-uzh-eti-skazochki-oh-uzh-eti-skazochniki.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Ох уж эти сказочки, ох уж эти сказочники!.
                <br>
                time 14 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-12-my-stroili-stroili-a-zachem.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Мы строили, строили… А зачем?.
                <br>
                time 12 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-12-hronologicheskie-inektsii.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Хронологические инъекции.
                <br>
                time 12 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-11-zaboristye-zabrala.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Забористые забрала.
                <br>
                time 11 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-11-delo-pahnet-kirasirom.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Дело пахнет кирасиром.
                <br>
                time 11 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-10-u-imperatora-nerona-v-gostinoj-zhili-dva-barona.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span У императора Нерона в гостиной жили два барона.
                <br>
                time 10 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-10-pifagorovy-shtany-s-nachesom.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Пифагоровы штаны с начёсом.
                <br>
                time 10 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-06-chudesa-chudesa-nebyvalschina.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Чудеса, чудеса, небывальщина.
                <br>
                time 06 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-03-karl-marks-i-podkustovyj-vypolzen-chast-1.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Карл Маркс и подкустовый выползень. Часть 1.
                <br>
                time 03 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-02-moneta-moneta.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Монета Moneta.
                <br>
                time 02 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-02-lihoradka-antichnogo-vechera.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Лихорадка античного вечера.
                <br>
                time 02 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-01-odnim-mahom-semeryh-protykahom.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Одним махом семерых протыкахом.
                <br>
                time 01 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-31-manipulirovanie-manipulami-i-manufakturami.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Манипулирование манипулами и мануфактурами.
                <br>
                time 31 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-30-zanimatelnoe-oslovedenie.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Занимательное ословедение.
                <br>
                time 30 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-30-warum-die-mädchen-lieben-die-soldaten-darum-nicht-popularen-optimaten.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Warum die Mädchen lieben die Soldaten? Darum nicht Popularen! Optimaten!.
                <br>
                time 30 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-13-zhoashen-dju-belle-poet-ruinist.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Жоашен дю Белле — поэт-руинист.
                <br>
                time 13 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-13-uzbeki-v-moreplavanii.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Узбеки в мореплавании.
                <br>
                time 13 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-13-suka-ljubov.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Сука любовь.
                <br>
                time 13 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-07-istoricheskaja-shrapnel.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Историческая шрапнель.
                <br>
                time 07 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-07-drevnegrecheskaja-smokovnitsa.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Древнегреческая смоковница.
                <br>
                time 07 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-04-istochniki-zatochniki.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Источники-заточники.
                <br>
                time 04 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-04-domen-ryzheborodyh-germanooptimaty-i-normannopopuljary.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: германооптиматы и норманнопопуляры.
                <br>
                time 04 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-03-domen-ryzheborodyh-salo-jak-salo.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: сало як сало.
                <br>
                time 03 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-03-domen-ryzheborodyh-papa-mozhet-papa-mozhet.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: папа может, папа может.
                <br>
                time 03 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-02-domen-ryzheborodyh-tysjacha-melochej-kontejner-1.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: тысяча мелочей, контейнер №1.
                <br>
                time 02 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-02-domen-ryzheborodyh-obschestvo-normano-germanskoj-druzhby.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: общество нормано-германской дружбы.
                <br>
                time 02 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-30-domen-ryzheborodyh-tsezar-i-sprut.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: Цезарь и Спрут.
                <br>
                time 30 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-30-domen-ryzheborodyh-mafija-bessmertna.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: мафия бессмертна.
                <br>
                time 30 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-29-domen-ryzheborodyh-sitsilianskaja-zaschita.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: сицилианская защита.
                <br>
                time 29 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-27-domen-ryzheborodyh-esli-papa-ne-razreshaet.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: если папа не разрешает.
                <br>
                time 27 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-27-domen-ryzheborodyh-chto-takoe-druzja-rimskogo-naroda.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: что такое “друзья римского народа”.
                <br>
                time 27 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-23-domen-ryzheborodyh-v-boj-vstupaet-formalnaja-logika.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: в бой вступает формальная логика.
                <br>
                time 23 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-22-domen-ryzheborodyh-privet-iz-90-h.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: привет из 90-х.
                <br>
                time 22 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-19-domen-ryzheborodyh-pamjatka-latifundistu.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: памятка латифундисту.
                <br>
                time 19 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-19-domen-ryzheborodyh-dikie-divizii-rimskih-imperatorov.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: “дикие дивизии” римских императоров.
                <br>
                time 19 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-19-domen-ryzheborodyh-alternativnaja-imperija-nanosit-udar.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: альтернативная империя наносит удар.
                <br>
                time 19 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-18-iz-za-lesa-iz-za-gor-pokazal-muzhik-kope.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Из-за леса, из-за гор показал мужик копьё.
                <br>
                time 18 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-18-domen-ryzheborodyh.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых.
                <br>
                time 18 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-11-volshebnik-nedouchka.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Волшебник недоучка.
                <br>
                time 11 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-11-julij-tsezar-i-kantseljarskie-prinadlezhnosti.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Юлий Цезарь и канцелярские принадлежности.
                <br>
                time 11 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-10-gorjat-shumjat-badaevskie-sklady.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Горят-шумят Бадаевские склады.
                <br>
                time 10 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-05-prazdnik-neposlushanija.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Праздник непослушания.
                <br>
                time 05 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-04-esli-topnu-ja-nogoju-pozovu-svoih-soldat.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Если топну я ногою, позову своих солдат….
                <br>
                time 04 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-03-naveki-s-russkim-narodom-ili-my-tut-u-vas-posidim-nemnogo-poka-ziher-ne-utihnet.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Навеки с русским народом, или Мы тут у вас посидим немного, пока зихер не.
                <br>
                time 03 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-27-a-shapochka-izvinite-otkuda.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span А шапочка, извините, откуда?.
                <br>
                time 27 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-23-gaj-julij-kejnsar.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Гай Юлий Кейнсарь.
                <br>
                time 23 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-21-kolossy-kolosja-i-barbariki.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Колоссы, колосья и Барбарики.
                <br>
                time 21 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-20-o-razorenii-rjazani-istoricheskaja-ugadajka-vypusk-5.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span О разорении Рязани (историческая угадайка, выпуск 5).
                <br>
                time 20 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-20-asteriks-obeliks-i-hronicheskij-anahroniks.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Астерикс, Обеликс и хронический анахроникс.
                <br>
                time 20 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-19-kvadratno-gnezdovaja-hristianiztsija-istoricheskaja-ugadajka-vypusk-4.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Квадратно-гнездовая христианизция (историческая угадайка, выпуск 4).
                <br>
                time 19 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-15-sluchaj-na-beloozere-istoricheskaja-ugadajka-vypusk-3.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Случай на Белоозере (историческая угадайка, выпуск 3).
                <br>
                time 15 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-15-ryzhij-ryzhego-sprosil-chem-ty-borodu-krasil.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Рыжий рыжего спросил: чем ты бороду красил?.
                <br>
                time 15 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-15-balkon-kak-moveton.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Балкон как моветон.
                <br>
                time 15 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-14-m-t-kachenovskij-alternativschik-xix-veka.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span М. Т. Каченовский: альтернативщик XIX века.
                <br>
                time 14 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-14-istoricheskaja-ugadajka-vypusk-1.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Историческая угадайка. Выпуск 1.
                <br>
                time 14 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-10-1492-god-kak-nachalo-novoj-ery.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span 1492 год как начало новой эры.
                <br>
                time 10 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-08-dvts-rabochih-i-krestjan.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span ДВЦ рабочих и крестьян.
                <br>
                time 08 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-03-zernovoj-triller-dlinoj-v-1000-let.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Зерновой триллер длиной в 1000 лет.
                <br>
                time 03 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-05-26-grad-kitezh-kak-ekologicheskaja-katastrofa.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Град Китеж как экологическая катастрофа.
                <br>
                time 26 мая 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-05-23-bitva-fridriha-barbarossy-s-polovtsami.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Битва Фридриха Барбароссы с половцами.
                <br>
                time 23 мая 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-05-20-russkie-i-rytsari.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Русские и рыцари.
                <br>
                time 20 мая 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-05-20-bitva-tarkvinija-s-rededej.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Битва Тарквиния с Редедей.
                <br>
                time 20 мая 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-05-18-zagadochnyj-gorod-pordugodev.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Загадочный город Пордугодев.
                <br>
                time 18 мая 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-04-20-na-ih-storone-kanaly.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span На их стороне каналы.
                <br>
                time 20 апреля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-04-16-ty-ih-v-okno-oni-v-kalitku.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Ты их в окно — они в калитку.
                <br>
                time 16 апреля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-04-15-zachem-on-voobsche-nuzhen-etot-novgorod.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Зачем он вообще нужен, этот Новгород?.
                <br>
                time 15 апреля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-04-09-velikij-novgorod-faktorija-ili-forpost.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Великий Новгород: фактория или форпост?.
                <br>
                time 09 апреля 2021 г.
h5.offcanvas-title Материалы за 2021 г:
    ul.nav.nav-pills.flex-column.mb-auto
        li
            a.nav-link.link-secondary(href="#2022-01-22-zhili-v-lesu-molilis-kolesu.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Жили в лесу, молились колесу.
                <br>
                time 22 января 2022 г.
        li
            a.nav-link.link-secondary(href="#2022-01-15-nemtsy-i-nemezida.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Немцы и Немезида.
                <br>
                time 15 января 2022 г.
        li
            a.nav-link.link-secondary(href="#2022-01-14-ser-dik-uittington-sergej-esenin-vikingi-i-kotiki.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Сэр Дик Уиттингтон, Сергей Есенин, викинги и котики.
                <br>
                time 14 января 2022 г.
        li
            a.nav-link.link-secondary(href="#2022-01-13-lukan-i-lukavstvo.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Лукан и лукавство.
                <br>
                time 13 января 2022 г.
        li
            a.nav-link.link-secondary(href="#2021-12-12-otyskalsja-sled-kopetrjasov.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Отыскался след копьетрясов!.
                <br>
                time 12 декабря 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-12-11-abyrvalg-noverlendskij.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Абырвалг Новерлендский.
                <br>
                time 11 декабря 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-12-08-zhelezobetonnaja-korona-langobardov.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Железобетонная корона лангобардов.
                <br>
                time 08 декабря 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-12-06-slavjane-svoi-i-chuzhie.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Славяне “свои” и “чужие”.
                <br>
                time 06 декабря 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-12-05-izjasnenie-nazvanij-nemetskih-gorodov-kotorye-prezhde-byli-slavjanskimi.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Изяснение названий немецких городов, которые прежде были славянскими.
                <br>
                time 05 декабря 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-11-25-mezhdu-pervoj-i-vtoroj-pereryvchik-nebolshoj.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Между первой и второй перерывчик небольшой.
                <br>
                time 25 ноября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-11-22-italija-ne-rezinovaja.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Италия не резиновая.
                <br>
                time 22 ноября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-11-12-gotskij-dvor-na-ostrove-bujane.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Готский двор на острове Буяне.
                <br>
                time 12 ноября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-11-03-rossija-rodina-slonov.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Россия — родина слонов.
                <br>
                time 03 ноября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-10-16-aleksandr-makedonskij-robinzon-kruzo-i-nepravilnye-pchely.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Александр Македонский, Робинзон Крузо и “неправильные пчелы”.
                <br>
                time 16 октября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-18-what-the-schit.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span What the щит?.
                <br>
                time 18 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-14-oh-uzh-eti-skazochki-oh-uzh-eti-skazochniki.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Ох уж эти сказочки, ох уж эти сказочники!.
                <br>
                time 14 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-12-my-stroili-stroili-a-zachem.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Мы строили, строили… А зачем?.
                <br>
                time 12 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-12-hronologicheskie-inektsii.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Хронологические инъекции.
                <br>
                time 12 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-11-zaboristye-zabrala.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Забористые забрала.
                <br>
                time 11 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-11-delo-pahnet-kirasirom.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Дело пахнет кирасиром.
                <br>
                time 11 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-10-u-imperatora-nerona-v-gostinoj-zhili-dva-barona.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span У императора Нерона в гостиной жили два барона.
                <br>
                time 10 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-10-pifagorovy-shtany-s-nachesom.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Пифагоровы штаны с начёсом.
                <br>
                time 10 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-06-chudesa-chudesa-nebyvalschina.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Чудеса, чудеса, небывальщина.
                <br>
                time 06 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-03-karl-marks-i-podkustovyj-vypolzen-chast-1.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Карл Маркс и подкустовый выползень. Часть 1.
                <br>
                time 03 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-02-moneta-moneta.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Монета Moneta.
                <br>
                time 02 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-02-lihoradka-antichnogo-vechera.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Лихорадка античного вечера.
                <br>
                time 02 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-09-01-odnim-mahom-semeryh-protykahom.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Одним махом семерых протыкахом.
                <br>
                time 01 сентября 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-31-manipulirovanie-manipulami-i-manufakturami.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Манипулирование манипулами и мануфактурами.
                <br>
                time 31 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-30-zanimatelnoe-oslovedenie.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Занимательное ословедение.
                <br>
                time 30 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-30-warum-die-mädchen-lieben-die-soldaten-darum-nicht-popularen-optimaten.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Warum die Mädchen lieben die Soldaten? Darum nicht Popularen! Optimaten!.
                <br>
                time 30 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-13-zhoashen-dju-belle-poet-ruinist.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Жоашен дю Белле — поэт-руинист.
                <br>
                time 13 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-13-uzbeki-v-moreplavanii.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Узбеки в мореплавании.
                <br>
                time 13 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-13-suka-ljubov.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Сука любовь.
                <br>
                time 13 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-07-istoricheskaja-shrapnel.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Историческая шрапнель.
                <br>
                time 07 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-07-drevnegrecheskaja-smokovnitsa.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Древнегреческая смоковница.
                <br>
                time 07 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-04-istochniki-zatochniki.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Источники-заточники.
                <br>
                time 04 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-04-domen-ryzheborodyh-germanooptimaty-i-normannopopuljary.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: германооптиматы и норманнопопуляры.
                <br>
                time 04 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-03-domen-ryzheborodyh-salo-jak-salo.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: сало як сало.
                <br>
                time 03 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-03-domen-ryzheborodyh-papa-mozhet-papa-mozhet.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: папа может, папа может.
                <br>
                time 03 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-02-domen-ryzheborodyh-tysjacha-melochej-kontejner-1.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: тысяча мелочей, контейнер №1.
                <br>
                time 02 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-08-02-domen-ryzheborodyh-obschestvo-normano-germanskoj-druzhby.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: общество нормано-германской дружбы.
                <br>
                time 02 августа 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-30-domen-ryzheborodyh-tsezar-i-sprut.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: Цезарь и Спрут.
                <br>
                time 30 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-30-domen-ryzheborodyh-mafija-bessmertna.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: мафия бессмертна.
                <br>
                time 30 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-29-domen-ryzheborodyh-sitsilianskaja-zaschita.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: сицилианская защита.
                <br>
                time 29 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-27-domen-ryzheborodyh-esli-papa-ne-razreshaet.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: если папа не разрешает.
                <br>
                time 27 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-27-domen-ryzheborodyh-chto-takoe-druzja-rimskogo-naroda.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: что такое “друзья римского народа”.
                <br>
                time 27 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-23-domen-ryzheborodyh-v-boj-vstupaet-formalnaja-logika.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: в бой вступает формальная логика.
                <br>
                time 23 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-22-domen-ryzheborodyh-privet-iz-90-h.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: привет из 90-х.
                <br>
                time 22 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-19-domen-ryzheborodyh-pamjatka-latifundistu.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: памятка латифундисту.
                <br>
                time 19 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-19-domen-ryzheborodyh-dikie-divizii-rimskih-imperatorov.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: “дикие дивизии” римских императоров.
                <br>
                time 19 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-19-domen-ryzheborodyh-alternativnaja-imperija-nanosit-udar.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых: альтернативная империя наносит удар.
                <br>
                time 19 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-18-iz-za-lesa-iz-za-gor-pokazal-muzhik-kope.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Из-за леса, из-за гор показал мужик копьё.
                <br>
                time 18 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-18-domen-ryzheborodyh.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Домен Рыжебородых.
                <br>
                time 18 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-11-volshebnik-nedouchka.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Волшебник недоучка.
                <br>
                time 11 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-11-julij-tsezar-i-kantseljarskie-prinadlezhnosti.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Юлий Цезарь и канцелярские принадлежности.
                <br>
                time 11 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-10-gorjat-shumjat-badaevskie-sklady.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Горят-шумят Бадаевские склады.
                <br>
                time 10 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-05-prazdnik-neposlushanija.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Праздник непослушания.
                <br>
                time 05 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-04-esli-topnu-ja-nogoju-pozovu-svoih-soldat.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Если топну я ногою, позову своих солдат….
                <br>
                time 04 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-07-03-naveki-s-russkim-narodom-ili-my-tut-u-vas-posidim-nemnogo-poka-ziher-ne-utihnet.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Навеки с русским народом, или Мы тут у вас посидим немного, пока зихер не.
                <br>
                time 03 июля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-27-a-shapochka-izvinite-otkuda.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span А шапочка, извините, откуда?.
                <br>
                time 27 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-23-gaj-julij-kejnsar.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Гай Юлий Кейнсарь.
                <br>
                time 23 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-21-kolossy-kolosja-i-barbariki.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Колоссы, колосья и Барбарики.
                <br>
                time 21 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-20-o-razorenii-rjazani-istoricheskaja-ugadajka-vypusk-5.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span О разорении Рязани (историческая угадайка, выпуск 5).
                <br>
                time 20 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-20-asteriks-obeliks-i-hronicheskij-anahroniks.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Астерикс, Обеликс и хронический анахроникс.
                <br>
                time 20 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-19-kvadratno-gnezdovaja-hristianiztsija-istoricheskaja-ugadajka-vypusk-4.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Квадратно-гнездовая христианизция (историческая угадайка, выпуск 4).
                <br>
                time 19 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-15-sluchaj-na-beloozere-istoricheskaja-ugadajka-vypusk-3.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Случай на Белоозере (историческая угадайка, выпуск 3).
                <br>
                time 15 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-15-ryzhij-ryzhego-sprosil-chem-ty-borodu-krasil.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Рыжий рыжего спросил: чем ты бороду красил?.
                <br>
                time 15 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-15-balkon-kak-moveton.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Балкон как моветон.
                <br>
                time 15 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-14-m-t-kachenovskij-alternativschik-xix-veka.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span М. Т. Каченовский: альтернативщик XIX века.
                <br>
                time 14 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-14-istoricheskaja-ugadajka-vypusk-1.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Историческая угадайка. Выпуск 1.
                <br>
                time 14 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-10-1492-god-kak-nachalo-novoj-ery.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span 1492 год как начало новой эры.
                <br>
                time 10 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-08-dvts-rabochih-i-krestjan.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span ДВЦ рабочих и крестьян.
                <br>
                time 08 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-06-03-zernovoj-triller-dlinoj-v-1000-let.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Зерновой триллер длиной в 1000 лет.
                <br>
                time 03 июня 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-05-26-grad-kitezh-kak-ekologicheskaja-katastrofa.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Град Китеж как экологическая катастрофа.
                <br>
                time 26 мая 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-05-23-bitva-fridriha-barbarossy-s-polovtsami.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Битва Фридриха Барбароссы с половцами.
                <br>
                time 23 мая 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-05-20-russkie-i-rytsari.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Русские и рыцари.
                <br>
                time 20 мая 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-05-20-bitva-tarkvinija-s-rededej.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Битва Тарквиния с Редедей.
                <br>
                time 20 мая 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-05-18-zagadochnyj-gorod-pordugodev.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Загадочный город Пордугодев.
                <br>
                time 18 мая 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-04-20-na-ih-storone-kanaly.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span На их стороне каналы.
                <br>
                time 20 апреля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-04-16-ty-ih-v-okno-oni-v-kalitku.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Ты их в окно — они в калитку.
                <br>
                time 16 апреля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-04-15-zachem-on-voobsche-nuzhen-etot-novgorod.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Зачем он вообще нужен, этот Новгород?.
                <br>
                time 15 апреля 2021 г.
        li
            a.nav-link.link-secondary(href="#2021-04-09-velikij-novgorod-faktorija-ili-forpost.md")
                <svg class="link-secondary aside-icon"><use xlink:href="#blockquote-left"></use></svg>
                span Великий Новгород: фактория или форпост?.
                <br>
                time 09 апреля 2021 г.
