pre {
    margin-top: 3rem;
    margin-left: 50%;
}

article section {
    max-width: 80ch !important;
}

article p {
    text-align: justify;
}

article blockquote {
    font-size: 1.1rem !important;
    font-style: italic;
    padding: 0.5rem 0 0.5rem 1rem !important;
    border-left: 5px solid #ddd;
}

article p img{
    width: 100%;
}

.welcome {
    margin-top: 3rem;
    max-width: 50rem;
}

hr {
    margin: .3rem 0;
}

footer {
    border-top: 1px solid silver;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
