.char-80{
    max-width: 80ch;
    margin: 3rem auto;
}

.nav-link span {
    font-size: initial;
}
.nav-link time {
    font-size: small;
}

ul.welcome, li.welcome {
    margin-top: .5rem
}

article ul li {
    font-size: 1rem;
}

.aside-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: .3rem;
    margin-top: -3px;
}

pre {
    margin-top: 3rem;
    margin-left: 50%;
}

article section {
    max-width: 80ch !important;
}

article p {
    text-align: justify;
}

article blockquote {
    font-size: 1.1rem !important;
    font-style: italic;
    padding: 0.5rem 0 0.5rem 1rem !important;
    border-left: 5px solid #ddd;
}

article p img{
    width: 100%;
}

hr {
    margin: .3rem 0;
}

footer {
    border-top: 1px solid silver;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

